*.exe
*.exe~
*.dll
*.so
*.dylib
vendor
.DS_Store
.idea
*.log
process4Linux32
process4Linux64
process4Raspi
process4Raspi64
process4Win32.exe
process4Win64.exe
process4Mac
process4M1
process4Android
/soup/exam.txt
/trans.db
lines.txt
*.db
lines.txt
*.tar
*.m4s
